.addbtn {
  padding: 5px 30px;
  cursor: pointer;
  margin: 10px 0 0 0;
}

.inputsstyle {
  padding: 5px 140px;
  margin: 4px 0;
  text-align: left;
}

.mainDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 5px solid Black;
  width: 40%;
  height: 60%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  border-radius: 8px;
}

.contactDetailsDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header {
  text-align: center;
  margin: -19px;
  position: relative;
  background-color: black;
  color: white;
  padding: 8px 0 1px 0;
}
.addContactsDiv {
  margin: 50px 65px;
}
.contactListNavBarTitle {
  display: flex;
  justify-content: space-between;
  width: 50%;
  float: left;
}

.contactListNavBarMenu {
  display: flex;
  width: 50%;
  justify-content: right;
}

.loginBtn {
  margin: 15px 2px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: darkOrange;
  color: black;
}
.addContactsBtn {
  margin: 15px 23px 0px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: darkslategrey;
}

.upDelBtn {
  margin: 25px;
}

.background {
  background-color: white;
  height: 100%;
}

.delBtn {
  margin: 0 0 0 4px;
  cursor: pointer;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
}

.updateBtn {
  background-color: forestgreen;
  color: white;
  border-radius: 5px;
}
